@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

#L.clicked {
  background-color: #fff; /* Белый фон */
  color: #d52b1e; /* Цвет полосы флага России */
}
#U.clicked {
  background-color: #f00; /* Красный цвет для верхней половины флага Сингапура */
  color: #fff; /* Белый цвет текста для контраста */
}

body, html {


  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f5f5dc; /* Бежевый фон */
}

#container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nameButtons {
  display: flex;
  flex-direction: row; /* Устанавливаем горизонтальное расположение элементов */
  justify-content: center;
  align-items: center;
}

.button {
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  width: 150px;
  height: 150px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s, opacity 0.3s;
}

.button.clicked {
  background-color: #000;
  color: #fff;
}

.button:hover {
  background-color: #000;
  color: #fff;
  opacity: 0.7;
}

#L {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); /* Имитация буквы "L" */
}

#U {
  clip-path: polygon(50% 0%, 100% 0%, 100% 50%, 50% 100%, 0% 50%, 0% 0%); /* Имитация буквы "U" */
}

#C {
  clip-path: ellipse(50% 50% at 50% 50%); /* Имитация буквы "C" */
}

#I {
  clip-path: polygon(50% 0%, 75% 0%, 75% 100%, 50% 100%, 25% 100%, 25% 0%); /* Имитация буквы "I" */
}

#N {
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5); /* Добавляем тень, чтобы улучшить видимость буквы "N" */
}


#D {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); /* Имитация буквы "D" */
}

#E {
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5); /* Добавляем тень, чтобы улучшить видимость буквы "E" */
}

.button.clicked {
  background-color: #000; /* Изменение фона при нажатии */
  color: #fff; /* Изменение цвета текста при нажатии */
}

.button:hover {
  background-color: #000; /* Изменение фона при наведении */
  color: #fff; /* Изменение цвета текста при наведении */
  opacity: 0.7; /* Уменьшение прозрачности при наведении */
}

#adjectivesContainer {
  position: fixed;
  bottom: 10px; /* Поднимаем от низа экрана на 100px */
  left: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  word-spacing: 50px;
  font-family: 'Courier New', Courier, monospace; /* Устанавливаем интересный стиль шрифта */
  font-size: 80px; /* Увеличиваем размер шрифта в 5 раз */
  animation: marquee 18s linear infinite; /* Увеличиваем время анимации в четыре раза */
}
#adjectives span {
  display: inline; /* Отображение каждого слова отдельно */
  margin-right: 10px; /* Отступ между словами */
}
#adjectives span::before {
  content: '\00a0'; /* Добавляем пробел между словами */
}



@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (min-width: 600px) and (max-width: 700px) and (orientation: landscape) {
  #nameButtons {
    flex-wrap: wrap; /* Allow buttons to wrap onto multiple lines */
    justify-content: center;
  }
  
  .button {
    font-size: 20px; /* Decrease button font size */
    width: calc(50% - 20px); /* Adjust button width for landscape mode */
    height: 120px; /* Keep button height */
    margin: 5px; /* Keep button margin */
  }
}

/* Styles for screens with width between 400px and 599.99px (landscape) */
@media (min-width: 400px) and (max-width: 599.99px) and (orientation: landscape) {
  #nameButtons {
    flex-wrap: wrap; /* Allow buttons to wrap onto multiple lines */
    justify-content: center;
  }
  
  .button {
    font-size: 10px; /* Decrease button font size further */
    width: calc(50% - 20px); /* Adjust button width for landscape mode */
    height: 100px; /* Keep button height */
    margin: 5px; /* Keep button margin */
  }
}

/* Styles for screens with width up to 399.99px (landscape) */
@media (max-width: 399.99px) and (orientation: landscape) {
  #nameButtons {
    flex-wrap: wrap; /* Allow buttons to wrap onto multiple lines */
    justify-content: center;
  }
  
  .button {
    font-size: 5px; /* Decrease button font size further */
    width: calc(50% - 20px); /* Adjust button width for landscape mode */
    height: 80px; /* Keep button height */
    margin: 5px; /* Keep button margin */
  }
}
